openapi: 3.1.0
tags:
  - name: Introspection
  - name: Companies
  - name: Flows
  - name: Locations
  - name: Bank Accounts
  - name: Payment Configs
  - name: Pay Schedules
  - name: Employees
  - name: Employee Tax Setup
  - name: Employee Payment Method
  - name: Employee Employments
  - name: Employee Addresses
  - name: Jobs and Compensations
  - name: Earning Types
  - name: I-9 Verification
  - name: Contractor Payment Groups
  - name: Contractor Payment Method
  - name: Contractor Payments
  - name: Contractors
  - name: Payrolls
  - name: Company Forms
  - name: Contractor Documents
  - name: Employee Forms
  - name: Company Benefits
  - name: Employee Benefits
  - name: Garnishments
  - name: Federal Tax Details
  - name: Industry Selection
  - name: Signatories
  - name: External Payrolls
  - name: Tax Requirements
  - name: Contractor Forms
  - name: Time Off Policies
  - name: Holiday Pay Policies
  - name: Departments
  - name: Reports
  - name: Generated Documents
  - name: Notifications
  - name: Webhooks
  - name: Events
  - name: Invoices
  - name: Recovery Cases
  - name: Company Attachment
  - name: Wire In Requests
  - name: ACH Transactions
  - name: Information Requests
  - name: Time Tracking
  - name: Time Off Requests
  - name: Salary Estimates
  - name: Reimbursements
  - name: People Batches
info:
  title: Gusto API
  version: '2025-06-15'
  termsOfService: https://gusto.com/about/terms/developer-terms-of-service
  description: Welcome to Gusto's Embedded Payroll API documentation!
  contact:
    name: Developer Relations
    email: developer@gusto.com
servers:
  - url: https://api.gusto-demo.com
    description: Demo
    x-speakeasy-server-id: demo
  - url: https://api.gusto.com
    description: Prod
    x-speakeasy-server-id: prod
paths:
  "/v1/token_info":
    get:
      security:
        - CompanyAccessAuth: []
      description: |-
        Returns scope and resource information associated with the current access token. Use this endpoint to verify the following for the current access token:
        * Resource (company, employee, contractor, or application) and resource owner
        * Access level
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get info about the current access token
      tags:
        - Introspection
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      x-gusto-rswag: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Token-Info"
      operationId: get-v1-token-info
      x-speakeasy-name-override: getInfo
  "/oauth/token":
    post:
      summary: Create a System Access Token or Refresh an Access Token
      operationId: oauth-access-token
      security: []
      description: Creates a system access token or refreshes an oauth access token
      x-gusto-integration-type:
        - embedded
        - app-integrations
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      x-gusto-rswag: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: Refresh Token Request
                  required:
                    - client_id
                    - client_secret
                    - grant_type
                    - refresh_token
                  properties:
                    client_id:
                      type: string
                      description: Your client ID
                      example: qr6L_9FRkbMVL_GdwvrMW6Ef8tcU6NUxjWpOfqXqOG8
                    client_secret:
                      type: string
                      description: Your client secret
                      example: 3aQSHRB3596nZhm6NdNBELZ1u9xbZmvCrKpBhbZYq6w
                    grant_type:
                      type: string
                      enum:
                        - refresh_token
                      description: Set system_access to create a system access token, refresh_token to refresh an existing token
                    refresh_token:
                      type: string
                      descrition: The refresh token being exchanged for an access token code
                      example: iEjL96L9Pndwmi-xVX3Q-xbrvvhnjHYGX87sopgGJ8E
                    redirect_uri:
                      type: string
                      description: The redirect URI you set up via the Developer Portal
                - type: object
                  title: System Access Token Request
                  required:
                    - client_id
                    - client_secret
                    - grant_type
                  properties:
                    client_id:
                      type: string
                      description: Your client ID
                      example: qr6L_9FRkbMVL_GdwvrMW6Ef8tcU6NUxjWpOfqXqOG8
                    client_secret:
                      type: string
                      description: Your client secret
                      example: 3aQSHRB3596nZhm6NdNBELZ1u9xbZmvCrKpBhbZYq6w
                    grant_type:
                      type: string
                      description: Set system_access to create a system access token, refresh_token to refresh an existing token
                      enum:
                        - system_access
      tags:
        - Introspection
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Authentication"
  "/v1/partner_managed_companies":
    post:
      x-gusto-integration-type:
        - embedded
      operationId: post-v1-partner-managed-companies
      summary: Create a partner managed company
      tags:
        - Companies
      description: "Create a partner managed company. When you successfully call the API, it does the following:\n* Creates a new company in Gusto\n* Creates a new user using the provided email if the user does not already exist.\n* Makes the user the primary payroll administrator of the new company.\n\nIn response, you will receive oauth access tokens for the created company.\n\nIMPORTANT: the returned access and refresh tokens are reserved for this company only. They cannot be used to access other companies AND previously granted tokens cannot be used to access this company.\n\n> \U0001F4D8 System Access Authentication\n>\n> this endpoint uses the [Bearer Auth scheme with the system-level access token in the HTTP Authorization header](https://docs.gusto.com/embedded-payroll/docs/system-access)"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  description: Information for the user who will be the primary payroll administrator for the new company.
                  required:
                    - first_name
                    - last_name
                    - email
                  properties:
                    first_name:
                      type: string
                      description: The first name of the user who will be the primary payroll admin.
                    last_name:
                      type: string
                      description: The last name of the user who will be the primary payroll admin.
                    email:
                      type: string
                      description: The email of the user who will be the primary payroll admin.
                    phone:
                      type: string
                      description: The phone number of the user who will be the primary payroll admin.
                company:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
                      description: The legal name of the company.
                    trade_name:
                      type: string
                      description: The name of the company.
                    ein:
                      type: string
                      description: The employer identification number (EIN) of the company.
                    contractor_only:
                      type: boolean
                      description: Whether the company only supports contractors. Should be set to true if the company has no W-2 employees. If not passed, will default to false (i.e. the company will support both contractors and employees).
              required:
                - user
                - company
            examples:
              Example:
                value:
                  user:
                    first_name: Frank
                    last_name: Ocean
                    email: frank@example.com
                    phone: '2345558899'
                  company:
                    name: Frank's Ocean, LLC
                    trade_name: Frank’s Ocean
                    ein: '123456789'
                    contractor_only: false
      security:
        - SystemAccessAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Object returned when creating a partner managed company
                type: object
                properties:
                  access_token:
                    type: string
                    description: Access token that can be used for OAuth access to the account. Access tokens expire 2 hours after they are issued.
                    readOnly: true
                  refresh_token:
                    type: string
                    description: Refresh token that can be exchanged for a new access token.
                    readOnly: true
                  company_uuid:
                    type: string
                    description: Gusto’s UUID for the company
                    readOnly: true
                  expires_in:
                    type: integer
                    description: Time of access_token expiration in seconds
                    readOnly: true
        '422':
          "$ref": "#/components/responses/Unprocessable-Entity-Error-Object"
        '401':
          description: Authorization information is missing or invalid.
      parameters:
        - "$ref": "#/components/parameters/VersionHeader"
      x-speakeasy-name-override: createPartnerManaged
  "/v1/companies/{company_id}":
    get:
      security:
        - CompanyAccessAuth: []
      description: |-
        Get a company.

        The employees:read scope is required to return home_address and non-work locations.
        The company_admin:read scope is required to return primary_payroll_admin.
        The signatories:read scope is required to return primary_signatory.

        scope: `companies:read`
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get a company
      operationId: get-v1-companies
      parameters:
        - name: company_id
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      x-gusto-rswag: true
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Company"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      tags:
        - Companies
      x-speakeasy-name-override: get
    put:
      security:
        - CompanyAccessAuth: []
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Update a company
      operationId: put-v1-companies
      description: |-
        Update a company.

        scope: `companies:write`
      parameters:
        - name: company_id
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      x-gusto-rswag: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contractor_only:
                  type: boolean
                  description: Whether the company only supports contractors. Must be updated in order for the company to start supporting W-2 employees. Can only be updated from true to false. Note that updating this value will require additional onboarding steps to be completed in order for the company to support W-2 employees.
              required:
                - contractor_only
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Company"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
        '422':
          description: |
            Unprocessable Entity

            This may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
      tags:
        - Companies
      x-speakeasy-name-override: update
  "/v1/partner_managed_companies/{company_uuid}/migrate":
    put:
      x-gusto-integration-type:
        - embedded
      summary: Migrate company to embedded payroll
      operationId: put-v1-partner-managed-companies-company-uuid-migrate
      tags:
        - Companies
      description: |-
        Migrate an existing Gusto customer to your embedded payroll product.

        To use this endpoint, the customer will need to connect their Gusto account to your application using [OAuth2](https://docs.gusto.com/embedded-payroll/docs/oauth2) then view and [accept the Embedded Payroll Terms of Service](https://docs.gusto.com/embedded-payroll/reference/post-partner-managed-companies-company_uuid-accept_terms_of_service).

        scope: `partner_managed_companies:write`
      parameters:
        - "$ref": "#/components/parameters/company_uuid"
        - "$ref": "#/components/parameters/VersionHeader"
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  company_uuid:
                    type: string
                    description: The company UUID
                  migration_status:
                    type: string
                    description: The migration status. 'success' is the only valid return value.
                    enum:
                      - success
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                oneOf:
                  - "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
                  - "$ref": "#/components/schemas/Migration-Blocker"
        '404':
          "$ref": "#/components/responses/Not-Found-Error-Object"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email of the company signatory who is authorized to accept our [Terms of Service](https://flows.gusto.com/terms) and migration decision. You can retrieve the signatory email from the `GET /v/1/companies/{company_id}/signatories` endpoint.
                ip_address:
                  type: string
                  description: The IP address of the signatory who viewed and accepted the Terms of Service.
                external_user_id:
                  type: string
                  description: The signatory's user ID on your platform.
              required:
                - email
                - ip_address
                - external_user_id
      x-speakeasy-name-override: migrate
  "/v1/partner_managed_companies/{company_uuid}/migration_readiness":
    get:
      x-gusto-integration-type:
        - embedded
      summary: Check company migration readiness
      operationId: get-v1-partner-managed-companies-company-uuid-migration_readiness
      tags:
        - Companies
      description: |-
        Check if an existing Gusto customer is ready to be migrated to embedded payroll. This endpoint returns blockers and warnings associated with migrating the company and is recommended to be called before attempting to migrate a company.

        scope: `partner_managed_companies:read`
      parameters:
        - "$ref": "#/components/parameters/company_uuid"
        - "$ref": "#/components/parameters/VersionHeader"
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                description: ''
                allOf:
                  - type: object
                    properties:
                      ready_to_migrate:
                        type: boolean
                        description: Indicates if the company is ready to be migrated.
                      company_uuid:
                        type: string
                        description: The company UUID
                  - "$ref": "#/components/schemas/Migration-Blocker"
                  - "$ref": "#/components/schemas/Migration-Warning"
        '404':
          "$ref": "#/components/responses/Not-Found-Error-Object"
  "/v1/partner_managed_companies/{company_uuid}/accept_terms_of_service":
    post:
      x-gusto-integration-type:
        - embedded
      summary: Accept terms of service for a company user
      operationId: post-partner-managed-companies-company_uuid-accept_terms_of_service
      tags:
        - Companies
      description: |-
        Accept the Gusto Embedded Payroll's [Terms of Service](https://flows.gusto.com/terms).
        The user must have a role in the company in order to accept the Terms of Service.

        scope: `terms_of_services:write`
      parameters:
        - "$ref": "#/components/parameters/company_uuid"
        - "$ref": "#/components/parameters/VersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: ''
              properties:
                email:
                  type: string
                  description: The user's email address on Gusto. You can retrieve the user's email via company's `/admins`, `/employees`, `/signatories`, and `/contractors` endpoints.
                ip_address:
                  type: string
                  description: The IP address of the user who viewed and accepted the Terms of Service.
                external_user_id:
                  type: string
                  description: The user ID on your platform.
              required:
                - email
                - ip_address
                - external_user_id
            examples:
              Example:
                value:
                  ip_address: 192.168.1.2
                  external_user_id: '2005648946132'
                  email: jsmith99@gmail.com
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  latest_terms_accepted:
                    type: boolean
                    description: Whether the latest terms have been accepted by the user.
        '422':
          "$ref": "#/components/responses/Unprocessable-Entity-Error-Object"
        '404':
          "$ref": "#/components/responses/Not-Found-Error-Object"
      x-speakeasy-name-override: acceptTermsOfService
  "/v1/partner_managed_companies/{company_uuid}/retrieve_terms_of_service":
    post:
      x-gusto-integration-type:
        - embedded
      summary: Retrieve terms of service status for a company user
      operationId: post-partner-managed-companies-company_uuid-retrieve_terms_of_service
      tags:
        - Companies
      description: |-
        Retrieve the user acceptance status of the Gusto Embedded Payroll's [Terms of Service](https://flows.gusto.com/terms).

        scope: `terms_of_services:read`
      parameters:
        - "$ref": "#/components/parameters/company_uuid"
        - "$ref": "#/components/parameters/VersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: The user's email address on Gusto. You can retrieve the user's email via company's `/admins`, `/employees`, `/signatories`, and `/contractors` endpoints.
              required:
                - email
            examples:
              Example:
                value:
                  email: jsmith99@gmail.com
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  latest_terms_accepted:
                    type: boolean
                    description: Whether the latest terms have been accepted by the user.
                required:
                  - email
                  - ip_address
                  - external_user_id
        '422':
          "$ref": "#/components/responses/Unprocessable-Entity-Error-Object"
        '404':
          "$ref": "#/components/responses/Not-Found-Error-Object"
      x-speakeasy-name-override: retrieveTermsOfService
  "/v1/invoices/{invoice_period}":
    get:
      x-gusto-integration-type:
        - embedded
      summary: Retrieve invoicing data for companies
      operationId: get-invoices-invoice-period
      tags:
        - Invoices
      description: "Retrieve data for active companies used to calculate invoices for Gusto Embedded Payroll. A company is considered active for an invoice period if they are an active partner managed company, have run payroll or created contractor payments since becoming a partner managed company, and are not suspended at any point during the invoice period.  This endpoint forces pagination, with 100 results returned at a time. You can learn more about our pagination here: [pagination guide](https://docs.gusto.com/embedded-payroll/docs/pagination) \n\n> \U0001F4D8 System Access Authentication\n>\n> This endpoint uses the [Bearer Auth scheme with the system-level access token in the HTTP Authorization header](https://docs.gusto.com/embedded-payroll/docs/system-access)\n\nscope: `invoices:read`"
      security:
        - SystemAccessAuth: []
      parameters:
        - "$ref": "#/components/parameters/invoice_period"
        - "$ref": "#/components/parameters/pageParam"
        - "$ref": "#/components/parameters/perParam"
        - schema:
            type: string
          in: query
          name: company_uuids
          description: Filter companies returned in the active_companies response, will return an error if company not active during provided invoice period. i.e. `?company_uuids=781922d8-e780-4b6b-bf74-ee303166d022,bbbca930-7322-491c-ba7f-98707a52a9c5`
        - "$ref": "#/components/parameters/VersionHeader"
      responses:
        '200':
          "$ref": "#/components/responses/Invoice-Data-Object"
        '422':
          "$ref": "#/components/responses/Unprocessable-Entity-Error-Object"
        '404':
          "$ref": "#/components/responses/Not-Found-Error-Object"
      x-speakeasy-name-override: get
  "/v1/companies/{company_id}/attachments/{company_attachment_uuid}":
    get:
      security:
        - CompanyAccessAuth: []
      description: |-
        Retrieve the detail of an attachment uploaded by the company.

        ### Related guides
        - [Manage company attachments](doc:manage-company-attachments)

        scope: `company_attachments:read`
      x-gusto-integration-type:
        - embedded
      summary: Get Company Attachment Details
      x-gusto-rswag: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Company-Attachment"
        '404':
          description: |
            Not Found

            The requested resource does not exist. Make sure the provided UUID is valid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      operationId: get-v1-companies-attachment
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: company_id
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
        - name: company_attachment_uuid
          in: path
          description: The UUID of the company attachment
          required: true
          schema:
            type: string
      tags:
        - Company Attachment
      x-speakeasy-group: companyAttachments
      x-speakeasy-name-override: getDetails
  "/v1/companies/{company_id}/attachments/{company_attachment_uuid}/download_url":
    get:
      security:
        - CompanyAccessAuth: []
      description: |-
        Retrieve a temporary url to download an attachment file uploaded by the company.

        ### Related guides
        - [Manage company attachments](doc:manage-company-attachments)

        scope: `company_attachments:read`
      x-gusto-integration-type:
        - embedded
      summary: Get a temporary url to download the Company Attachment file
      x-gusto-rswag: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Company-Attachment-Download-Url"
        '404':
          description: |
            Not Found

            The requested resource does not exist. Make sure the provided UUID is valid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      operationId: get-v1-companies-attachment-url
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: company_id
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
        - name: company_attachment_uuid
          in: path
          description: The UUID of the company attachment
          required: true
          schema:
            type: string
      tags:
        - Company Attachment
      x-speakeasy-group: companyAttachment
      x-speakeasy-name-override: getDownloadUrl
  "/v1/companies/{company_id}/attachments":
    get:
      security:
        - CompanyAccessAuth: []
      description: |-
        Retrieve a list of all the attachments uploaded by the company.

        ### Related guides
        - [Manage company attachments](doc:manage-company-attachments)

        scope: `company_attachments:read`
      x-gusto-integration-type:
        - embedded
      summary: Get List of Company Attachments
      x-gusto-rswag: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Company-Attachment"
        '404':
          description: |
            Not Found

            The requested resource does not exist. Make sure the provided UUID is valid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      operationId: get-v1-companies-attachments
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: company_id
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
      tags:
        - Company Attachment
      x-speakeasy-group: companyAttachments
      x-speakeasy-name-override: getList
    post:
      security:
        - CompanyAccessAuth: []
      description: |-
        Upload a file and create a company attachment. We recommend uploading PDF files for optimal compatibility. However, the following file types are allowed: .qbb, .qbm, .gif, .jpg, .png, .pdf, .xls, .xlsx, .doc and .docx.

        ### Related guides
        - [Manage company attachments](doc:manage-company-attachments)

        scope: `company_attachments:write`
      x-gusto-integration-type:
        - embedded
      summary: Create Company Attachment and Upload File
      x-gusto-rswag: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Company-Attachment"
        '404':
          description: |
            Not Found

            The requested resource does not exist. Make sure the provided UUID is valid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
        '422':
          description: |
            Unprocessable Entity

            This may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
      operationId: post-v1-companies-attachment
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: company_id
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
      tags:
        - Company Attachment
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              "$ref": "#/components/schemas/Company-Attachment-Create-Request-Body"
      x-speakeasy-group: companyAttachments
      x-speakeasy-name-override: create
  "/v1/companies/{company_id}/federal_tax_details":
    get:
      summary: Get a company's federal tax details
      security:
        - CompanyAccessAuth: []
      description: |-
        Retrieves a company's federal tax details including EIN verification status, tax payer type, filing form, and other federal tax configuration.

        scope: `company_federal_taxes:read`
      x-gusto-integration-type:
        - embedded
      x-gusto-rswag: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Federal-Tax-Details"
        '404':
          description: |
            Not Found

            The requested resource does not exist. Make sure the provided UUID is valid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      operationId: get-v1-companies-company_id-federal_tax_details
      parameters:
        - name: company_id
          in: path
          description: The UUID of the company
          example: 7b1d0df1-6403-4a06-8768-c1dd7d24d27a
          required: true
          schema:
            type: string
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      tags:
        - Federal Tax Details
      x-speakeasy-group: federalTaxDetails
      x-speakeasy-name-override: get
    put:
      summary: Update a company's federal tax details
      security:
        - CompanyAccessAuth: []
      description: |-
        Updates a company's federal tax details including EIN, legal name, tax payer type, filing form, and S-Corp
        taxation status. This information is required to onboard a company for use with Gusto Embedded Payroll.

        ### Prerequisites
        Before calling this endpoint, retrieve the current federal tax details and `version` via [GET /v1/companies/{company_id}/federal_tax_details](ref:get-v1-companies-company_id-federal_tax_details)

        ### Webhooks
        - `company.updated`: Fires when federal tax details for a company are successfully updated

        **Setup:** [POST /v1/webhook_subscriptions](ref:post-v1-webhook-subscription) with `subscription_types`: `["Company"]`

        scope: `company_federal_taxes:write`
      x-gusto-integration-type:
        - embedded
      x-gusto-rswag: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Federal-Tax-Details"
        '422':
          description: |
            Unprocessable Entity

            This may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
        '404':
          description: |
            Not Found

            The requested resource does not exist. Make sure the provided UUID is valid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
      operationId: put-v1-companies-company_id-federal_tax_details
      parameters:
        - name: company_id
          in: path
          description: The UUID of the company
          example: 7b1d0df1-6403-4a06-8768-c1dd7d24d27a
          required: true
          schema:
            type: string
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Federal-Tax-Details-Update"
      tags:
        - Federal Tax Details
      x-speakeasy-group: federalTaxDetails
      x-speakeasy-name-override: update
  "/v1/companies/{company_id}/industry_selection":
    get:
      security:
        - CompanyAccessAuth: []
      description: |-
        Returns the industry classification for a company, including NAICS code, SIC codes, and industry title.

        scope: `companies:read`
      x-gusto-integration-type:
        - embedded
      summary: Get a company industry selection
      tags:
        - Industry Selection
      operationId: get-v1-company-industry
      parameters:
        - name: company_id
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      x-gusto-rswag: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Industry"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      x-speakeasy-group: industrySelection
      x-speakeasy-name-override: get
    put:
      security:
        - CompanyAccessAuth: []
      description: |-
        Update the industry classification for a company by passing in a [NAICS code](https://www.naics.com).

        Optionally provide an industry title and [SIC codes](https://siccode.com/). If you do not provide SIC codes,
        we will use the NAICS code to perform an internal lookup.

        Our UI leverages [Middesk API](https://docs.middesk.com/reference/introduction) to determine industry
        classification codes.

        scope: `companies:write`
      x-gusto-integration-type:
        - embedded
      summary: Update a company industry selection
      tags:
        - Industry Selection
      operationId: put-v1-company-industry
      parameters:
        - name: company_id
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      x-gusto-rswag: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Industry"
        '422':
          description: |
            Unprocessable Entity

            This may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Company-Industry-Selection-Required-Body"
      x-speakeasy-group: industrySelection
      x-speakeasy-name-override: update
  "/v1/companies/{company_id}/admins":
    post:
      security:
        - CompanyAccessAuth: []
      x-gusto-integration-type:
        - embedded
      summary: Create an admin for the company
      tags:
        - Companies
      operationId: post-v1-companies-company_id-admins
      x-gusto-rswag: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Admin"
        '422':
          description: |
            Unprocessable Entity

            This may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
        '404':
          description: |
            Not Found

            The requested resource does not exist. Make sure the provided UUID is valid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      description: |-
        Creates a new admin for a company.
        If the email matches an existing user, this will create an admin account for the current user. Otherwise, this will create a new user.

        scope: `company_admin:write`
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: company_id
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Admin-Create-Request"
      x-speakeasy-name-override: createAdmin
    get:
      security:
        - CompanyAccessAuth: []
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get all the admins at a company
      tags:
        - Companies
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: company_id
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: The page that is requested. When unspecified, will load all objects unless endpoint forces pagination.
          schema:
            type: integer
        - name: per
          in: query
          required: false
          description: Number of objects per page. For majority of endpoints will default to 25
          schema:
            type: integer
      operationId: get-v1-companies-company_id-admins
      x-gusto-rswag: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Admin"
        '404':
          description: |
            Not Found

            The requested resource does not exist. Make sure the provided UUID is valid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      description: |-
        Returns a list of all the admins at a company

        scope: `company_admin:read`
      x-speakeasy-name-override: listAdmins
  "/v1/companies/{company_uuid}/signatories":
    post:
      security:
        - CompanyAccessAuth: []
      description: |-
        Creates a company signatory with complete information. The company must not already have a signatory.

        A signatory can legally sign forms once the identity verification process is successful. The signatory should be an officer, owner, general partner or LLC member manager, plan administrator, fiduciary, or an authorized representative who is designated to sign agreements on the company's behalf. An officer is the president, vice president, treasurer, chief accounting officer, etc. There can only be a single primary signatory in a company.

        ### Webhooks
        - `signatory.created`: Fires when a signatory is successfully created.

        ### Related guides
        - [Signatory Events](doc:signatory-events)

        scope: `signatories:manage`
      x-gusto-integration-type:
        - embedded
      summary: Create a signatory
      tags:
        - Signatories
      operationId: post-v1-company-signatories
      parameters:
        - name: company_uuid
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      x-gusto-rswag: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Signatory"
        '422':
          description: |
            Unprocessable Entity

            This may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
        '404':
          description: |
            Not Found

            The requested resource does not exist. Make sure the provided UUID is valid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Signatory-Create-Request"
      x-speakeasy-name-override: create
    get:
      summary: Get the signatories for a company
      security:
        - CompanyAccessAuth: []
      description: |-
        Returns the signatories for a company. A company has at most one signatory.

        ## Related guides
        - [Signatory Events](doc:signatory-events)

        scope: `signatories:read`
      x-gusto-integration-type:
        - embedded
      x-gusto-rswag: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Signatory"
        '404':
          description: |
            Not Found

            The requested resource does not exist. Make sure the provided UUID is valid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      operationId: get-v1-companies-company_uuid-signatories
      parameters:
        - name: company_uuid
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      tags:
        - Signatories
      x-speakeasy-name-override: list
  "/v1/companies/{company_uuid}/signatories/invite":
    post:
      security:
        - CompanyAccessAuth: []
      description: |-
        Creates a signatory with minimal information. This signatory can be invited to provide more information through the [Update a signatory](ref:put-v1-companies-company_uuid-signatories-signatory_uuid) endpoint. This will start the identity verification process and allow the signatory to be verified to sign documents.

        ## Related guides
        - [Signatory Events](doc:signatory-events)

        scope: `signatories:manage`
      x-gusto-integration-type:
        - embedded
      summary: Invite a signatory
      x-gusto-rswag: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Signatory"
        '422':
          description: |
            Unprocessable Entity

            This may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
        '404':
          description: |
            Not Found

            The requested resource does not exist. Make sure the provided UUID is valid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      operationId: post-v1-companies-company_uuid-signatories-invite
      parameters:
        - name: company_uuid
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Signatory-Invite-Request"
      tags:
        - Signatories
      x-speakeasy-name-override: invite
  "/v1/companies/{company_uuid}/signatories/{signatory_uuid}":
    put:
      security:
        - CompanyAccessAuth: []
      description: |-
        Updates a signatory that has been either invited or created. If the signatory has been created with minimal information through the [Invite a signatory](ref:post-v1-companies-company_uuid-signatories-invite) endpoint, then the first update must contain all attributes specified in the request body in order to start the identity verification process.

        ## Related guides
        - [Signatory Events](doc:signatory-events)

        scope: `signatories:write`
      x-gusto-integration-type:
        - embedded
      summary: Update a signatory
      x-gusto-rswag: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Signatory"
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
        '422':
          description: |
            Unprocessable Entity

            This may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
        '404':
          description: |
            Not Found

            The requested resource does not exist. Make sure the provided UUID is valid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      operationId: put-v1-companies-company_uuid-signatories-signatory_uuid
      parameters:
        - name: company_uuid
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
        - name: signatory_uuid
          in: path
          description: The UUID of the signatory
          required: true
          schema:
            type: string
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Signatory-Update-Request"
      tags:
        - Signatories
      x-speakeasy-name-override: update
    delete:
      security:
        - CompanyAccessAuth: []
      description: |-
        Deletes a company signatory.

        ## Related guides
        - [Signatory Events](doc:signatory-events)

        scope: `signatories:manage`
      x-gusto-integration-type:
        - embedded
      summary: Delete a signatory
      operationId: delete-v1-companies-company_uuid-signatories-signatory_uuid
      x-gusto-rswag: true
      responses:
        '204':
          description: No Content
        '404':
          description: |
            Not Found

            The requested resource does not exist. Make sure the provided UUID is valid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      parameters:
        - name: company_uuid
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
        - name: signatory_uuid
          in: path
          description: The UUID of the signatory
          required: true
          schema:
            type: string
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      tags:
        - Signatories
      x-speakeasy-name-override: delete
  "/v1/companies/{company_uuid}/onboarding_status":
    get:
      summary: Get company onboarding status
      security:
        - CompanyAccessAuth: []
      description: |-
        Retrieves a company's onboarding status, including whether onboarding is complete and the list of
        required onboarding steps with their respective completion state.

        scope: `company_onboarding_status:read`
      x-gusto-integration-type:
        - embedded
      operationId: get-v1-company-onboarding-status
      parameters:
        - name: company_uuid
          in: path
          description: The UUID of the company
          example: 7b1d0df1-6403-4a06-8768-c1dd7d24d27a
          required: true
          schema:
            type: string
        - name: additional_steps
          in: query
          required: false
          example: external_payroll
          description: Comma-delimited string of additional onboarding steps to include. Currently only supports the value "external_payroll".
          schema:
            type: string
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      x-gusto-rswag: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Company-Onboarding-Status"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      tags:
        - Companies
      x-speakeasy-name-override: getOnboardingStatus
  "/v1/companies/{company_uuid}/finish_onboarding":
    put:
      security:
        - CompanyAccessAuth: []
      description: |-
        Finalize a company's onboarding process.

        ### Approve a company in demo

        After a company is finished onboarding, Gusto requires an additional step to review and approve that company.
        The company onboarding status is "onboarding_completed": false, until the API call is made to finish company
        onboarding. In production environments, this step is required for risk-analysis purposes.

        We provide the endpoint `PUT '/v1/companies/{company_uuid}/approve'` to facilitate company approvals in the demo environment.

        ```shell
        PUT '/v1/companies/89771af8-b964-472e-8064-554dfbcb56d9/approve'

        # Response: Company object, with company_status: 'Approved'
        ```

        scope: `companies:write`
      x-gusto-integration-type:
        - embedded
      summary: Finish company onboarding
      operationId: get-v1-company-finish-onboarding
      parameters:
        - name: company_uuid
          in: path
          description: The UUID of the company
          example: 7b1d0df1-6403-4a06-8768-c1dd7d24d27a
          required: true
          schema:
            type: string
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
      x-gusto-rswag: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Company-Onboarding-Status"
        '422':
          description: |
            Unprocessable Entity

            This may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      tags:
        - Companies
      x-speakeasy-name-override: finishOnboarding
  "/v1/companies/{company_id}/custom_fields":
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get the custom fields of a company
      description: |-
        Returns a list of the custom fields of the company. Useful when you need to know the schema of custom fields for an entire company

        scope: `companies:read`
      operationId: get-v1-companies-company_id-custom_fields
      tags:
        - Companies
      parameters:
        - "$ref": "#/components/parameters/company_id"
        - "$ref": "#/components/parameters/pageParam"
        - "$ref": "#/components/parameters/perParam"
        - "$ref": "#/components/parameters/VersionHeader"
      responses:
        '200':
          "$ref": "#/components/responses/Company-Custom-Field-List"
        '404':
          "$ref": "#/components/responses/Not-Found-Error-Object"
      x-speakeasy-name-override: getCustomFields
  "/v1/companies/{company_uuid}/flows":
    post:
      security:
        - CompanyAccessAuth: []
      description: |-
        Generate a link to access a pre-built workflow in Gusto white-label UI. For security, all generated flows will expire within 1 hour of inactivity or 24 hours from creation time, whichever comes first.

        You can see a list of all possible flow types in our [Flow Types](https://docs.gusto.com/embedded-payroll/docs/flow-types) guide.

        You can also mix and match flow_types in the same category to create custom flows suitable for your needs.

        For instance, to create a custom onboarding flow that only includes `add_addresses`, `add_employees`, and `sign_all_forms` steps, simply stitch those flow_types together into a comma delimited string:

        ```json
        {
          "flow_type": "add_addresses,add_employees,sign_all_forms"
        }
        ```

        Please be mindful of data dependencies in each step to achieve the best user experience.

        For more information and in-depth guides review the [Getting Started](https://docs.gusto.com/embedded-payroll/docs/flows-getting-started) guide for flows.

        scope: `flows:write`
      x-gusto-integration-type:
        - embedded
      summary: Create a flow
      tags:
        - Flows
      operationId: post-v1-company-flows
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: company_uuid
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
      x-gusto-rswag: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Flow"
        '422':
          description: |
            Unprocessable Entity

            This may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Create-Flow-Request"
      x-speakeasy-name-override: create
  "/v1/companies/{company_id}/locations":
    post:
      security:
        - CompanyAccessAuth: []
      description: |-
        Create a company location, which represents any address associated with a company: mailing
        addresses, filing addresses, or work locations. A single address may serve multiple, or all, purposes.

        Since all company locations are subsets of locations, use the Locations endpoints to
        [get](ref:get-v1-locations-location_id) or [update](ref:put-v1-locations-location_id) an individual record.

        scope: `companies:write`
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Create a company location
      x-gusto-rswag: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Location"
        '422':
          description: |
            Unprocessable Entity

            This may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      operationId: post-v1-companies-company_id-locations
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: company_id
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Company-Location-Request"
      tags:
        - Locations
      x-speakeasy-name-override: create
    get:
      summary: Get all company locations
      security:
        - CompanyAccessAuth: []
      description: |-
        Retrieves all company locations (addresses) associated with a company: mailing addresses, filing
        addresses, or work locations. A single address may serve multiple, or all, purposes.

        Since all company locations are subsets of locations, use the Locations endpoints to
        [get](ref:get-v1-locations-location_id) or [update](ref:put-v1-locations-location_id) an individual record.

        scope: `companies:read`
      x-gusto-integration-type:
        - embedded
        - app-integrations
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: company_id
          in: path
          description: The UUID of the company
          example: 7b1d0df1-6403-4a06-8768-c1dd7d24d27a
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: The page that is requested. When unspecified, will load all objects unless endpoint forces pagination.
          schema:
            type: integer
        - name: per
          in: query
          required: false
          description: Number of objects per page. For majority of endpoints will default to 25
          schema:
            type: integer
      x-gusto-rswag: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Company-Locations-List"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      operationId: get-v1-companies-company_id-locations
      tags:
        - Locations
      x-speakeasy-name-override: get
  "/v1/locations/{location_id}":
    get:
      summary: Get a location
      operationId: get-v1-locations-location_id
      description: |-
        Get a location.

        scope: `companies:read`
      tags:
        - Locations
      x-gusto-integration-type:
        - embedded
        - app-integrations
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: location_id
          in: path
          description: The UUID of the location
          required: true
          schema:
            type: string
      security:
        - CompanyAccessAuth: []
      x-gusto-rswag: true
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Location"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      x-speakeasy-name-override: retrieve
    put:
      summary: Update a location
      operationId: put-v1-locations-location_id
      description: |-
        Update a location.

        scope: `companies:write`
      tags:
        - Locations
      x-gusto-integration-type:
        - embedded
        - app-integrations
      security:
        - CompanyAccessAuth: []
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: location_id
          in: path
          description: The UUID of the location
          required: true
          schema:
            type: string
      x-gusto-rswag: true
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Location"
        '422':
          description: Invalid state
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
        '409':
          description: Invalid version param
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - "$ref": "#/components/schemas/Versionable-Required"
                - type: object
                  properties:
                    phone_number:
                      type: string
                      pattern: "[0-9]{10}"
                      example: '8009360383'
                    street_1:
                      type: string
                      example: 300 3rd Street
                    street_2:
                      type:
                        - string
                        - 'null'
                      example: Apartment 318
                    city:
                      type: string
                      example: San Francisco
                    state:
                      type: string
                    zip:
                      type: string
                      example: '94107'
                    country:
                      type: string
                    mailing_address:
                      type: boolean
                      description: For a company location, specify if this location is the company's mailing address. A company has a single mailing address, so this designation will override any previous selection.
                    filing_address:
                      type: boolean
                      description: For a company location, specify if this location is the company's filing address. A company has a single filing address, so this designation will override any previous selection.
        required: true
      x-speakeasy-name-override: update
  "/v1/locations/{location_uuid}/minimum_wages":
    get:
      summary: Get minimum wages for a location
      operationId: get-v1-locations-location_uuid-minimum_wages
      description: |-
        Get minimum wages for a location

        scope: `companies:read`
      tags:
        - Locations
      x-gusto-integration-type:
        - embedded
        - app-integrations
      parameters:
        - name: location_uuid
          in: path
          description: The UUID of the location
          required: true
          schema:
            type: string
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: effective_date
          in: query
          required: false
          example: '2020-01-31'
          schema:
            type: string
      security:
        - CompanyAccessAuth: []
      x-gusto-rswag: true
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Minimum-Wage-List"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      x-speakeasy-name-override: getMinimumWages
  "/v1/companies/{company_id}/bank_accounts":
    get:
      summary: Get all company bank accounts
      operationId: get-v1-companies-company_id-bank-accounts
      description: |-
        Returns company bank accounts. Currently, we only support a single default bank account per company.

        scope: `company_bank_accounts:read`
      tags:
        - Bank Accounts
      x-gusto-integration-type:
        - embedded
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: company_id
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
      security:
        - CompanyAccessAuth: []
      x-gusto-rswag: true
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Company-Bank-Account"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      x-speakeasy-group: bankAccounts
      x-speakeasy-name-override: get
    post:
      summary: Create a company bank account
      operationId: post-v1-companies-company_id-bank-accounts
      description: "This endpoint creates a new company bank account.\n\nUpon being created, two verification deposits are automatically sent to the bank account, and the bank account's verification_status is 'awaiting_deposits'.\n\nWhen the deposits are successfully transferred, the verification_status changes to 'ready_for_verification', at which point the verify endpoint can be used to verify the bank account.\nAfter successful verification, the bank account's verification_status is 'verified'.\n\n\n>\U0001F6A7 Warning\n>\n> If a default bank account exists, it will be disabled and the new bank account will replace it as the company's default funding method.\n\nscope: `company_bank_accounts:write`"
      tags:
        - Bank Accounts
      x-gusto-integration-type:
        - embedded
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: company_id
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
      security:
        - CompanyAccessAuth: []
      x-gusto-rswag: true
      responses:
        '200':
          description: Bank account unchanged
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Company-Bank-Account"
        '201':
          description: created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Company-Bank-Account"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
        '422':
          description: Invalid Attribute
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Company-Bank-Account-Request"
        required: true
      x-speakeasy-group: bankAccounts
      x-speakeasy-name-override: create
  "/v1/companies/{company_id}/bank_accounts/{bank_account_uuid}/verify":
    put:
      security:
        - CompanyAccessAuth: []
      description: |-
        Verify a company bank account by confirming the two micro-deposits sent to the bank account.

        Note that the order of the two deposits specified in request parameters does not matter.
        There's a maximum of 5 verification attempts, after which we will automatically initiate a new set of micro-deposits and require the bank account to be verified with the new micro-deposits.

        ### Bank account verification in demo
        In the demo environment, use the `POST /v1/companies/{company_id}/bank_accounts/{bank_account_uuid}/send_test_deposits` endpoint to simulate the micro-deposits transfer and return the two amounts in the response. You can call this endpoint as many times as you wish to retrieve the values of the two micro-deposits.

        ### Webhooks
        - `company.bank_account.verified`: Fires when the company bank account is successfully verified.

        ### Related guides
        - [Manage company bank accounts](doc:manage-company-bank-accounts)
        - [Bank Account Events](doc:bank-account-events)

        scope: `company_bank_accounts:write`
      x-gusto-integration-type:
        - embedded
      summary: Verify a company bank account
      operationId: put-v1-companies-company_id-bank-accounts-verify
      tags:
        - Bank Accounts
      x-gusto-rswag: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Company-Bank-Account"
        '422':
          description: |
            Unprocessable Entity

            This may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
        '404':
          description: |
            Not Found

            The requested resource does not exist. Make sure the provided UUID is valid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Not-Found-Error-Object"
      parameters:
        - name: X-Gusto-API-Version
          in: header
          schema:
            type: string
            enum:
              - '2025-06-15'
            default: '2025-06-15'
          description: Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.
        - name: company_id
          in: path
          description: The UUID of the company
          required: true
          schema:
            type: string
        - name: bank_account_uuid
          in: path
          description: The UUID of the company bank account
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Company-Bank-Account-Verify-Request"
      x-speakeasy-group: bankAccounts
      x-speakeasy-name-override: verify
  "/v1/companies/{company_uuid}/external_payrolls":
    post:
      x-gusto-integration-type:
        - embedded
      summary: Create a new external payroll for a company
      tags:
        - External Payrolls
      responses:
        '200':
          "$ref": "#/components/responses/External-Payroll-Object"
        '422':
          "$ref": "#/components/responses/Unprocessable-Entity-Error-Object"
        '404':
          "$ref": "#/components/responses/Not-Found-Error-Object"
      operationId: post-v1-external-payroll
      description: |-
        Creates a new external payroll for the company.

        scope: `external_payrolls:write`
      parameters:
        - "$ref": "#/components/parameters/company_uuid"
        - "$ref": "#/components/parameters/VersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                check_date:
                  type: string
                  description: External payroll's check date.
                payment_period_start_date:
                  type: string
                  description: External payroll's pay period start date.
                payment_period_end_date:
                  type: string
                  description: External payroll's pay period end date.
              required:
                - check_date
                - payment_period_start_date
                - payment_period_end_date
            examples:
              Example:
                value:
                  check_date: '2022-06-01'
                  payment_period_start_date: '2022-05-15'
                  payment_period_end_date: '2022-05-30'
      x-speakeasy-group: externalPayrolls
      x-speakeasy-name-override: create
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get external payrolls for a company
      tags:
        - External Payrolls
      operationId: get-v1-company-external-payrolls
      parameters:
        - "$ref": "#/components/parameters/company_uuid"
        - "$ref": "#/components/parameters/VersionHeader"
      description: |-
        Get an external payroll for a given company.

        scope: `external_payrolls:read`
      responses:
        '200':
          "$ref": "#/components/responses/External-Payroll-List"
        '404':
          "$ref": "#/components/responses/Not-Found-Error-Object"
      x-speakeasy-group: externalPayrolls
      x-speakeasy-name-override: get
  "/v1/companies/{company_uuid}/external_payrolls/{external_payroll_id}":
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get an external payroll
      tags:
        - External Payrolls
      operationId: get-v1-external-payroll
      parameters:
        - "$ref": "#/components/parameters/company_uuid"
        - "$ref": "#/components/parameters/external_payroll_id"
        - "$ref": "#/components/parameters/VersionHeader"
      description: |-
        Get an external payroll for a given company.

        scope: `external_payrolls:read`
      responses:
        '200':
          "$ref": "#/components/responses/External-Payroll-Object"
        '404':
          "$ref": "#/components/responses/Not-Found-Error-Object"
      x-speakeasy-group: externalPayrolls
      x-speakeasy-name-override: retrieve
    delete:
      x-gusto-integration-type:
        - embedded
      summary: Delete an external payroll
      tags:
        - External Payrolls
      operationId: delete-v1-external-payroll
      description: |-
        Delete an external payroll.

        scope: `external_payrolls:write`
      parameters:
        - "$ref": "#/components/parameters/company_uuid"
        - "$ref": "#/components/parameters/external_payroll_id"
        - "$ref": "#/components/parameters/VersionHeader"
      responses:
        '204':
          description: No Content
        '404':
          "$ref": "#/components/responses/Not-Found-Error-Object"
        '422':
          "$ref": "#/components/responses/Unprocessable-Entity-Error-Object"
      x-speakeasy-group: externalPayrolls
      x-speakeasy-name-override: delete
    put:
      x-gusto-integration-type:
        - embedded
      summary: Update an external payroll
      tags:
        - External Payrolls
      operationId: put-v1-external-payroll
      parameters:
        - "$ref": "#/components/parameters/company_uuid"
        - "$ref": "#/components/parameters/external_payroll_id"
        - "$ref": "#/components/parameters/VersionHeader"
      responses:
        '200':
          "$ref": "#/components/responses/External-Payroll-Object"
        '422':
          "$ref": "#/components/responses/Unprocessable-Entity-Error-Object"
        '404':
          "$ref": "#/components/responses/Not-Found-Error-Object"
      description: |-
        Update an external payroll with a list of external payroll items

        scope: `external_payrolls:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                replace_fields:
                  type: boolean
                  description: Patch update external payroll items when set to true, otherwise it will overwrite the previous changes.
                external_payroll_items:
                  type: array
                  items:
                    type: object
                    description: Submit wages, benefits, taxes for each employee
                    properties:
                      employee_uuid:
                        type: string
                        description: The UUID of the employee.
                      earnings:
                        type: array
                        items:
                          type: object
                          description: An array of earnings for the employee. Depends on your company selections, earnings includes wages, hours, bonuses, tips, commission and more.
                          properties:
                            hours:
                              type: string
                              description: The hour of the compensation for the pay period.
                            amount:
                              type: string
                              description: The amount of the earning.
                            earning_id:
                              type: integer
                              description: The ID of the earning.
                            earning_type:
                              type: string
                              description: The earning type for the compensation.
                              enum:
                                - CompanyPayType
                                - CompanyEarningType
                      benefits:
                        type: array
                        items:
                          type: object
                          description: An array of benefits for the employee. Depends on your company selections, benefits include 401k, health insurance and more.
                          properties:
                            company_contribution_amount:
                              type: string
                              description: Company contribution amount towards the benefit
                            employee_deduction_amount:
                              type: string
                              description: Employee deduction amount towards the benefit
                            benefit_id:
                              type: integer
                              description: The ID of the benefit.
                      taxes:
                        type: array
                        description: An array of taxes for the employee. Depends on your company selections, taxes include federal income tax, social security, medicare, and more.
                        items:
                          type: object
                          properties:
                            amount:
                              type: string
                              description: The amount of the tax.
                            tax_id:
                              type: integer
                              description: The ID of the tax.
            examples:
              Example:
                value:
                  replace_fields: true
                  external_payroll_items:
                    - employee_uuid: 403c6ee3-5f58-40ef-a117-ff7175cd9ee3
                      earnings:
                        - hours: '0.0'
                          amount: '200.00'
                          earning_type: CompanyPayType
                          earning_id: 1
                        - hours: '0.0'
                          amount: '5000.00'
                          earning_type: CompanyEarningType
                          earning_id: 2
                      benefits:
                        - company_contribution_amount: '300.0'
                          employee_deduction_amount: '300.0'
                          benefit_id: 10
                        - company_contribution_amount: '50.0'
                          employee_deduction_amount: '100.0'
                          benefit_id: 21
                      taxes:
                        - amount: '20.0'
                          tax_id: 1
                        - amount: '100.0'
                          tax_id: 2
      x-speakeasy-group: externalPayrolls
      x-speakeasy-name-override: update
  "/v1/companies/{company_uuid}/external_payrolls/{external_payroll_id}/calculate_taxes":
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get tax suggestions for an external payroll
      tags:
        - External Payrolls
      operationId: get-v1-external-payroll-calculate-taxes
      parameters:
        - "$ref": "#/components/parameters/company_uuid"
        - "$ref": "#/components/parameters/external_payroll_id"
        - "$ref": "#/components/parameters/VersionHeader"
      description: |-
        Get tax suggestions for an external payroll. Earnings and/or benefits
        data must be saved prior to the calculation in order to retrieve accurate
        tax calculation.

        scope: `external_payrolls:read`
      responses:
        '200':
          "$ref": "#/components/responses/External-Payroll-Tax-Suggestions-List"
        '404':
          "$ref": "#/components/responses/Not-Found-Error-Object"
        '422':
          "$ref": "#/components/responses/Unprocessable-Entity-Error-Object"
      x-speakeasy-group: externalPayrolls
      x-speakeasy-name-override: calculateTaxes
  "/v1/companies/{company_uuid}/external_payrolls/tax_liabilities":
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get tax liabilities
      tags:
        - External Payrolls
      operationId: get-v1-tax-liabilities
      parameters:
        - "$ref": "#/components/parameters/company_uuid"
        - "$ref": "#/components/parameters/VersionHeader"
      description: |-
        Get tax liabilities from aggregate external payrolls for a company.

        scope: `external_payrolls:read`
      responses:
        '200':
          "$ref": "#/components/responses/Tax-Liabilities-List"
        '404':
          "$ref": "#/components/responses/Not-Found-Error-Object"
      x-speakeasy-group: externalPayrolls
      x-speakeasy-name-override: listTaxLiabilities
    put:
      x-gusto-integration-type:
        - embedded
      summary: Update tax liabilities
      tags:
        - External Payrolls
      operationId: put-v1-tax-liabilities
      parameters:
        - "$ref": "#/components/parameters/company_uuid"
        - "$ref": "#/components/parameters/VersionHeader"
      responses:
        '200':
          "$ref": "#/components/responses/Tax-Liabilities-List"
        '422':
          "$ref": "#/components/responses/Unprocessable-Entity-Error-Object"
        '404':
          "$ref": "#/components/responses/Not-Found-Error-Object"
      description: |-
        Update tax liabilities for a company.

        scope: `external_payrolls:write`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                liability_selections:
                  type: array
                  items:
                    type: object
[...]
