/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { CompanySuspensionCreationErrors$inboundSchema, } from "../models/errors/companysuspensioncreationerrors.js";
import { PostCompaniesCompanyUuidSuspensionsRequest$outboundSchema, PostCompaniesCompanyUuidSuspensionsResponse$inboundSchema, } from "../models/operations/postcompaniescompanyuuidsuspensions.js";
import { APIPromise } from "../types/async.js";
/**
 * Suspend a company's account
 *
 * @remarks
 * Use this endpoint to suspend a company. After suspension, company will no longer be able to run payroll but will retain access to their information, such as retrieving employee info or retrieving past payrolls.
 *
 * scope: `company_suspensions:write`
 */
export function companiesSuspensionsSuspend(client, request, options) {
    return new APIPromise($do(client, request, options));
}
async function $do(client, request, options) {
    const parsed = safeParse(request, (value) => PostCompaniesCompanyUuidSuspensionsRequest$outboundSchema.parse(value), "Input validation failed");
    if (!parsed.ok) {
        return [parsed, { status: "invalid" }];
    }
    const payload = parsed.value;
    const body = encodeJSON("body", payload.RequestBody, { explode: true });
    const pathParams = {
        company_uuid: encodeSimple("company_uuid", payload.company_uuid, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path = pathToFunc("/v1/companies/{company_uuid}/suspensions")(pathParams);
    const headers = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
        "X-Gusto-API-Version": encodeSimple("X-Gusto-API-Version", payload["X-Gusto-API-Version"], { explode: false, charEncoding: "none" }),
    }));
    const secConfig = await extractSecurity(client._options.companyAccessAuth);
    const securityInput = secConfig == null
        ? {}
        : { companyAccessAuth: secConfig };
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client._options,
        baseURL: options?.serverURL ?? client._baseURL ?? "",
        operationID: "post-companies-company_uuid-suspensions",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client._options.companyAccessAuth,
        retryConfig: options?.retries
            || client._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
    };
    const requestRes = client._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path,
        headers: headers,
        body: body,
        userAgent: client._options.userAgent,
        timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req = requestRes.value;
    const doResult = await client._do(req, {
        context,
        errorCodes: ["422", "4XX", "5XX"],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req }];
    }
    const response = doResult.value;
    const responseFields = {
        HttpMeta: { Response: response, Request: req },
    };
    const [result] = await M.match(M.json(200, PostCompaniesCompanyUuidSuspensionsResponse$inboundSchema, {
        key: "Company-Suspension",
    }), M.jsonErr(422, CompanySuspensionCreationErrors$inboundSchema), M.fail("4XX"), M.fail("5XX"))(response, req, { extraFields: responseFields });
    if (!result.ok) {
        return [result, { status: "complete", request: req, response }];
    }
    return [result, { status: "complete", request: req, response }];
}
//# sourceMappingURL=companiesSuspensionsSuspend.js.map