/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { NotFoundErrorObject$inboundSchema, } from "../models/errors/notfounderrorobject.js";
import { GetV1CompaniesCompanyIdContractorsPaymentDetailsRequest$outboundSchema, GetV1CompaniesCompanyIdContractorsPaymentDetailsResponse$inboundSchema, } from "../models/operations/getv1companiescompanyidcontractorspaymentdetails.js";
import { APIPromise } from "../types/async.js";
/**
 * List contractor payment details
 *
 * @remarks
 * Get payment details for contractors in a company. This endpoint returns a list of all contractors
 * associated with the specified company, including their payment methods and bank account details
 * if they are paid via direct deposit.
 *
 * For contractors paid by direct deposit, the response includes their bank account information
 * with sensitive data masked for security. The payment details also include information about
 * how their payments are split if they have multiple bank accounts configured.
 *
 * For contractors paid by check, only the basic payment method information is returned.
 *
 * ### Response Details
 * - For direct deposit contractors:
 *   - Bank account details (masked)
 *   - Payment splits configuration
 *   - Routing numbers
 *   - Account types
 * - For check payments:
 *   - Basic payment method designation
 *
 * ### Common Use Cases
 * - Fetching contractor payment information for payroll processing
 * - Verifying contractor payment methods
 * - Reviewing payment split configurations
 *
 * `encrypted_account_number` is available only with the additional scope `contractor_payment_methods:read:account_numbers`.
 *
 * scope: `contractor_payment_methods:read`
 */
export function contractorsGetV1CompaniesCompanyIdContractorsPaymentDetails(client, request, options) {
    return new APIPromise($do(client, request, options));
}
async function $do(client, request, options) {
    const parsed = safeParse(request, (value) => GetV1CompaniesCompanyIdContractorsPaymentDetailsRequest$outboundSchema
        .parse(value), "Input validation failed");
    if (!parsed.ok) {
        return [parsed, { status: "invalid" }];
    }
    const payload = parsed.value;
    const body = null;
    const pathParams = {
        company_id: encodeSimple("company_id", payload.company_id, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path = pathToFunc("/v1/companies/{company_id}/contractors/payment_details")(pathParams);
    const query = encodeFormQuery({
        "contractor_payment_group_uuid": payload.contractor_payment_group_uuid,
        "contractor_uuid": payload.contractor_uuid,
    });
    const headers = new Headers(compactMap({
        Accept: "application/json",
        "X-Gusto-API-Version": encodeSimple("X-Gusto-API-Version", payload["X-Gusto-API-Version"], { explode: false, charEncoding: "none" }),
    }));
    const secConfig = await extractSecurity(client._options.companyAccessAuth);
    const securityInput = secConfig == null
        ? {}
        : { companyAccessAuth: secConfig };
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client._options,
        baseURL: options?.serverURL ?? client._baseURL ?? "",
        operationID: "get-v1-companies-company_id-contractors-payment_details",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client._options.companyAccessAuth,
        retryConfig: options?.retries
            || client._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
    };
    const requestRes = client._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path,
        headers: headers,
        query: query,
        body: body,
        userAgent: client._options.userAgent,
        timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req = requestRes.value;
    const doResult = await client._do(req, {
        context,
        errorCodes: ["404", "4XX", "5XX"],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req }];
    }
    const response = doResult.value;
    const responseFields = {
        HttpMeta: { Response: response, Request: req },
    };
    const [result] = await M.match(M.json(200, GetV1CompaniesCompanyIdContractorsPaymentDetailsResponse$inboundSchema, { key: "Contractor-Payment-Details-List" }), M.jsonErr(404, NotFoundErrorObject$inboundSchema), M.fail("4XX"), M.fail("5XX"))(response, req, { extraFields: responseFields });
    if (!result.ok) {
        return [result, { status: "complete", request: req, response }];
    }
    return [result, { status: "complete", request: req, response }];
}
//# sourceMappingURL=contractorsGetV1CompaniesCompanyIdContractorsPaymentDetails.js.map