/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { NotFoundErrorObject$inboundSchema, } from "../models/errors/notfounderrorobject.js";
import { UnprocessableEntityErrorObject$inboundSchema, } from "../models/errors/unprocessableentityerrorobject.js";
import { PostV1CompaniesCompanyIdPaySchedulesRequest$outboundSchema, PostV1CompaniesCompanyIdPaySchedulesResponse$inboundSchema, } from "../models/operations/postv1companiescompanyidpayschedules.js";
import { APIPromise } from "../types/async.js";
/**
 * Create a new pay schedule
 *
 * @remarks
 * If a company does not have any pay schedules, this endpoint creates a single pay schedule and assigns it to all employees (common during company onboarding).
 *
 * If a company already has an active pay schedule and wants multiple pay schedules, this endpoint creates a pay schedule that is not assigned to any employee.
 *
 * Be sure to [check state laws](https://www.dol.gov/agencies/whd/state/payday) to know what schedule is right for your customers. If an onboarded company misses their first pay date, the pay schedule may be automatically adjusted.
 *
 * ### Webhooks
 * - `pay_schedule.created`: Fires when a pay schedule is successfully created.
 *
 * ### Related guides
 * - [Create a pay schedule](doc:create-a-pay-schedule)
 * - [Pay Schedules](doc:pay-schedule-info)
 * - [Manage Pay Schedules via API](doc:manage-pay-schedules-api)
 *
 * scope: `pay_schedules:write`
 */
export function paySchedulesCreate(client, request, options) {
    return new APIPromise($do(client, request, options));
}
async function $do(client, request, options) {
    const parsed = safeParse(request, (value) => PostV1CompaniesCompanyIdPaySchedulesRequest$outboundSchema.parse(value), "Input validation failed");
    if (!parsed.ok) {
        return [parsed, { status: "invalid" }];
    }
    const payload = parsed.value;
    const body = encodeJSON("body", payload["Pay-Schedule-Create-Request"], {
        explode: true,
    });
    const pathParams = {
        company_id: encodeSimple("company_id", payload.company_id, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path = pathToFunc("/v1/companies/{company_id}/pay_schedules")(pathParams);
    const headers = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
        "X-Gusto-API-Version": encodeSimple("X-Gusto-API-Version", payload["X-Gusto-API-Version"], { explode: false, charEncoding: "none" }),
    }));
    const secConfig = await extractSecurity(client._options.companyAccessAuth);
    const securityInput = secConfig == null
        ? {}
        : { companyAccessAuth: secConfig };
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client._options,
        baseURL: options?.serverURL ?? client._baseURL ?? "",
        operationID: "post-v1-companies-company_id-pay_schedules",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client._options.companyAccessAuth,
        retryConfig: options?.retries
            || client._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
    };
    const requestRes = client._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path,
        headers: headers,
        body: body,
        userAgent: client._options.userAgent,
        timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req = requestRes.value;
    const doResult = await client._do(req, {
        context,
        errorCodes: ["404", "422", "4XX", "5XX"],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req }];
    }
    const response = doResult.value;
    const responseFields = {
        HttpMeta: { Response: response, Request: req },
    };
    const [result] = await M.match(M.json(201, PostV1CompaniesCompanyIdPaySchedulesResponse$inboundSchema, {
        key: "Pay-Schedule",
    }), M.jsonErr(404, NotFoundErrorObject$inboundSchema), M.jsonErr(422, UnprocessableEntityErrorObject$inboundSchema), M.fail("4XX"), M.fail("5XX"))(response, req, { extraFields: responseFields });
    if (!result.ok) {
        return [result, { status: "complete", request: req, response }];
    }
    return [result, { status: "complete", request: req, response }];
}
//# sourceMappingURL=paySchedulesCreate.js.map