/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { NotFoundErrorObject$inboundSchema, } from "../models/errors/notfounderrorobject.js";
import { UnprocessableEntityErrorObject$inboundSchema, } from "../models/errors/unprocessableentityerrorobject.js";
import { PutV1CompaniesCompanyIdPaySchedulesPayScheduleIdRequest$outboundSchema, PutV1CompaniesCompanyIdPaySchedulesPayScheduleIdResponse$inboundSchema, } from "../models/operations/putv1companiescompanyidpayschedulespayscheduleid.js";
import { APIPromise } from "../types/async.js";
/**
 * Update a pay schedule
 *
 * @remarks
 * Updates a pay schedule. The `version` parameter from the GET response is required for [optimistic concurrency](doc:api-fundamentals); a mismatch returns 409 Conflict.
 *
 * ### Pay schedules may be automatically adjusted
 * If an onboarded company misses their first pay date, the pay schedule may be automatically adjusted.
 *
 * ### Webhooks
 * - `pay_schedule.updated`: Fires when a pay schedule is successfully updated.
 *
 * ### Related guides
 * - [Create a pay schedule](doc:create-a-pay-schedule)
 * - [Manage Pay Schedules via API](doc:manage-pay-schedules-api)
 *
 * scope: `pay_schedules:write`
 */
export function paySchedulesUpdate(client, request, options) {
    return new APIPromise($do(client, request, options));
}
async function $do(client, request, options) {
    const parsed = safeParse(request, (value) => PutV1CompaniesCompanyIdPaySchedulesPayScheduleIdRequest$outboundSchema
        .parse(value), "Input validation failed");
    if (!parsed.ok) {
        return [parsed, { status: "invalid" }];
    }
    const payload = parsed.value;
    const body = encodeJSON("body", payload["Pay-Schedule-Update-Request"], {
        explode: true,
    });
    const pathParams = {
        company_id: encodeSimple("company_id", payload.company_id, {
            explode: false,
            charEncoding: "percent",
        }),
        pay_schedule_id: encodeSimple("pay_schedule_id", payload.pay_schedule_id, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path = pathToFunc("/v1/companies/{company_id}/pay_schedules/{pay_schedule_id}")(pathParams);
    const headers = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
        "X-Gusto-API-Version": encodeSimple("X-Gusto-API-Version", payload["X-Gusto-API-Version"], { explode: false, charEncoding: "none" }),
    }));
    const secConfig = await extractSecurity(client._options.companyAccessAuth);
    const securityInput = secConfig == null
        ? {}
        : { companyAccessAuth: secConfig };
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client._options,
        baseURL: options?.serverURL ?? client._baseURL ?? "",
        operationID: "put-v1-companies-company_id-pay_schedules-pay_schedule_id",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client._options.companyAccessAuth,
        retryConfig: options?.retries
            || client._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
    };
    const requestRes = client._createRequest(context, {
        security: requestSecurity,
        method: "PUT",
        baseURL: options?.serverURL,
        path: path,
        headers: headers,
        body: body,
        userAgent: client._options.userAgent,
        timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req = requestRes.value;
    const doResult = await client._do(req, {
        context,
        errorCodes: ["404", "409", "422", "4XX", "5XX"],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req }];
    }
    const response = doResult.value;
    const responseFields = {
        HttpMeta: { Response: response, Request: req },
    };
    const [result] = await M.match(M.json(200, PutV1CompaniesCompanyIdPaySchedulesPayScheduleIdResponse$inboundSchema, { key: "Pay-Schedule" }), M.jsonErr(404, NotFoundErrorObject$inboundSchema), M.jsonErr([409, 422], UnprocessableEntityErrorObject$inboundSchema), M.fail("4XX"), M.fail("5XX"))(response, req, { extraFields: responseFields });
    if (!result.ok) {
        return [result, { status: "complete", request: req, response }];
    }
    return [result, { status: "complete", request: req, response }];
}
//# sourceMappingURL=paySchedulesUpdate.js.map