/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { NotFoundErrorObject$inboundSchema, } from "../models/errors/notfounderrorobject.js";
import { UnprocessableEntityErrorObject$inboundSchema, } from "../models/errors/unprocessableentityerrorobject.js";
import { PostV1EmployeesEmployeeIdSalaryEstimatesRequest$outboundSchema, PostV1EmployeesEmployeeIdSalaryEstimatesResponse$inboundSchema, } from "../models/operations/postv1employeesemployeeidsalaryestimates.js";
import { APIPromise } from "../types/async.js";
/**
 * Create a salary estimate for an employee
 *
 * @remarks
 * Create a salary estimate for an employee. This endpoint helps calculate a reasonable salary for S Corp owners based on their occupation, experience level, location, and business revenue.
 *
 * A salary estimate must include:
 * - Annual net revenue of the business
 * - ZIP code for location-based salary data
 * - One or more occupations with experience levels and time percentages (must sum to 100%)
 *
 * Only one in-progress salary estimate can exist per employee at a time. If an in-progress estimate already exists, you must either accept it or use the update endpoint.
 *
 * scope: `salary_estimates:write`
 */
export function salaryEstimatesPostV1EmployeesEmployeeIdSalaryEstimates(client, request, options) {
    return new APIPromise($do(client, request, options));
}
async function $do(client, request, options) {
    const parsed = safeParse(request, (value) => PostV1EmployeesEmployeeIdSalaryEstimatesRequest$outboundSchema.parse(value), "Input validation failed");
    if (!parsed.ok) {
        return [parsed, { status: "invalid" }];
    }
    const payload = parsed.value;
    const body = encodeJSON("body", payload.RequestBody, { explode: true });
    const pathParams = {
        employee_id: encodeSimple("employee_id", payload.employee_id, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path = pathToFunc("/v1/employees/{employee_id}/salary_estimates")(pathParams);
    const headers = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
        "X-Gusto-API-Version": encodeSimple("X-Gusto-API-Version", payload["X-Gusto-API-Version"], { explode: false, charEncoding: "none" }),
    }));
    const secConfig = await extractSecurity(client._options.companyAccessAuth);
    const securityInput = secConfig == null
        ? {}
        : { companyAccessAuth: secConfig };
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client._options,
        baseURL: options?.serverURL ?? client._baseURL ?? "",
        operationID: "post-v1-employees-employee_id-salary_estimates",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client._options.companyAccessAuth,
        retryConfig: options?.retries
            || client._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
    };
    const requestRes = client._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path,
        headers: headers,
        body: body,
        userAgent: client._options.userAgent,
        timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req = requestRes.value;
    const doResult = await client._do(req, {
        context,
        errorCodes: ["404", "422", "4XX", "5XX"],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req }];
    }
    const response = doResult.value;
    const responseFields = {
        HttpMeta: { Response: response, Request: req },
    };
    const [result] = await M.match(M.json(201, PostV1EmployeesEmployeeIdSalaryEstimatesResponse$inboundSchema, { key: "Salary-Estimate" }), M.jsonErr(404, NotFoundErrorObject$inboundSchema), M.jsonErr(422, UnprocessableEntityErrorObject$inboundSchema), M.fail("4XX"), M.fail("5XX"))(response, req, { extraFields: responseFields });
    if (!result.ok) {
        return [result, { status: "complete", request: req, response }];
    }
    return [result, { status: "complete", request: req, response }];
}
//# sourceMappingURL=salaryEstimatesPostV1EmployeesEmployeeIdSalaryEstimates.js.map