/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { NotFoundErrorObject$inboundSchema, } from "../models/errors/notfounderrorobject.js";
import { UnprocessableEntityErrorObject$inboundSchema, } from "../models/errors/unprocessableentityerrorobject.js";
import { PutV1CompaniesCompanyUuidSignatoriesSignatoryUuidRequest$outboundSchema, PutV1CompaniesCompanyUuidSignatoriesSignatoryUuidResponse$inboundSchema, } from "../models/operations/putv1companiescompanyuuidsignatoriessignatoryuuid.js";
import { APIPromise } from "../types/async.js";
/**
 * Update a signatory
 *
 * @remarks
 * Updates a signatory that has been either invited or created. If the signatory has been created with minimal information through the [Invite a signatory](ref:post-v1-companies-company_uuid-signatories-invite) endpoint, then the first update must contain all attributes specified in the request body in order to start the identity verification process.
 *
 * ## Related guides
 * - [Signatory Events](doc:signatory-events)
 *
 * scope: `signatories:write`
 */
export function signatoriesUpdate(client, request, options) {
    return new APIPromise($do(client, request, options));
}
async function $do(client, request, options) {
    const parsed = safeParse(request, (value) => PutV1CompaniesCompanyUuidSignatoriesSignatoryUuidRequest$outboundSchema
        .parse(value), "Input validation failed");
    if (!parsed.ok) {
        return [parsed, { status: "invalid" }];
    }
    const payload = parsed.value;
    const body = encodeJSON("body", payload["Signatory-Update-Request"], {
        explode: true,
    });
    const pathParams = {
        company_uuid: encodeSimple("company_uuid", payload.company_uuid, {
            explode: false,
            charEncoding: "percent",
        }),
        signatory_uuid: encodeSimple("signatory_uuid", payload.signatory_uuid, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path = pathToFunc("/v1/companies/{company_uuid}/signatories/{signatory_uuid}")(pathParams);
    const headers = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
        "X-Gusto-API-Version": encodeSimple("X-Gusto-API-Version", payload["X-Gusto-API-Version"], { explode: false, charEncoding: "none" }),
    }));
    const secConfig = await extractSecurity(client._options.companyAccessAuth);
    const securityInput = secConfig == null
        ? {}
        : { companyAccessAuth: secConfig };
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client._options,
        baseURL: options?.serverURL ?? client._baseURL ?? "",
        operationID: "put-v1-companies-company_uuid-signatories-signatory_uuid",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client._options.companyAccessAuth,
        retryConfig: options?.retries
            || client._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
    };
    const requestRes = client._createRequest(context, {
        security: requestSecurity,
        method: "PUT",
        baseURL: options?.serverURL,
        path: path,
        headers: headers,
        body: body,
        userAgent: client._options.userAgent,
        timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req = requestRes.value;
    const doResult = await client._do(req, {
        context,
        errorCodes: ["404", "409", "422", "4XX", "5XX"],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req }];
    }
    const response = doResult.value;
    const responseFields = {
        HttpMeta: { Response: response, Request: req },
    };
    const [result] = await M.match(M.json(200, PutV1CompaniesCompanyUuidSignatoriesSignatoryUuidResponse$inboundSchema, { key: "Signatory" }), M.jsonErr(404, NotFoundErrorObject$inboundSchema), M.jsonErr([409, 422], UnprocessableEntityErrorObject$inboundSchema), M.fail("4XX"), M.fail("5XX"))(response, req, { extraFields: responseFields });
    if (!result.ok) {
        return [result, { status: "complete", request: req, response }];
    }
    return [result, { status: "complete", request: req, response }];
}
//# sourceMappingURL=signatoriesUpdate.js.map