# IdentityVerificationStatus

## Example Usage

```typescript
import { IdentityVerificationStatus } from "openapi/models";

let value: IdentityVerificationStatus = "Pass";
```

## Values

This is an open enum. Unrecognized values will be captured as the `Unrecognized<string>` branded type.

```typescript
"Pass" | "Fail" | "Skipped" | Unrecognized<string>
```