/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { GustoEmbeddedCore } from "../core.js";
import { encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import {
  PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateResponseBody,
  PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateResponseBody$inboundSchema,
} from "../models/errors/putv1companiescompanyidpayrollspayrollidcalculate.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateRequest,
  PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateRequest$outboundSchema,
  PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateResponse,
  PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateResponse$inboundSchema,
} from "../models/operations/putv1companiescompanyidpayrollspayrollidcalculate.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Calculate a payroll
 *
 * @remarks
 * Performs calculations for taxes, benefits, and deductions for an unprocessed payroll. The calculated payroll details provide a preview of the actual values that will be used when the payroll is run.
 *
 * This calculation is asynchronous and a successful request responds with a 202 HTTP status. To view the details of the calculated payroll, use the GET /v1/companies/{company_id}/payrolls/{payroll_id} endpoint with *include=taxes,benefits,deductions* params.
 * In v2023-04-01, *show_calculation=true* is no longer required.
 *
 * If the company is blocked from running payroll due to issues like incomplete setup, missing information or other compliance issues, the response will be 422 Unprocessable Entity with a categorization of the blockers as described in the error responses.
 */
export function payrollsCalculate(
  client: GustoEmbeddedCore,
  request: PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateResponse,
    | PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateResponseBody
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: GustoEmbeddedCore,
  request: PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateResponse,
      | PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateResponseBody
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateRequest$outboundSchema
        .parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    company_id: encodeSimple("company_id", payload.company_id, {
      explode: false,
      charEncoding: "percent",
    }),
    payroll_id: encodeSimple("payroll_id", payload.payroll_id, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc(
    "/v1/companies/{company_id}/payrolls/{payroll_id}/calculate",
  )(pathParams);

  const headers = new Headers(compactMap({
    Accept: "application/json",
    "X-Gusto-API-Version": encodeSimple(
      "X-Gusto-API-Version",
      payload["X-Gusto-API-Version"],
      { explode: false, charEncoding: "none" },
    ),
  }));

  const secConfig = await extractSecurity(client._options.companyAccessAuth);
  const securityInput = secConfig == null
    ? {}
    : { companyAccessAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "put-v1-companies-company_id-payrolls-payroll_id-calculate",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.companyAccessAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "PUT",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["404", "422", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    ContentType: response.headers.get("content-type")
      ?? "application/octet-stream",
    StatusCode: response.status,
    RawResponse: response,
    Headers: {},
  };

  const [result] = await M.match<
    PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateResponse,
    | PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateResponseBody
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    M.nil(
      202,
      PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateResponse$inboundSchema,
    ),
    M.jsonErr(
      422,
      PutV1CompaniesCompanyIdPayrollsPayrollIdCalculateResponseBody$inboundSchema,
    ),
    M.fail([404, "4XX"]),
    M.fail("5XX"),
  )(response, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
